body{
    /* la paleta de colores es por triada */
    background-color: #D0D5D9;
}

h1{
    color: #59201E;
}

.imgGIF{
    width: 300px;
    height: 300px;
}
.btnColor{
    background-color: #57591E;
    color: white;
    font-weight: bold;
}
.btnColor:hover{
    background-color: #9a9d34;
}
label{
    font-weight: bold;
}